.big-bold {
    color: rgb(37, 164, 118);
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 2em
    }
.big-bold-black {
    font-size: 1.125em;
    font-style: normal;
    font-weight: bold;
    line-height: 2em
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-after: always
    }
.calibre3 {
    display: block;
    page-break-after: always
    }
.calibre4 {
    background-color: rgba(37, 164, 118, 0.15);
    border-radius: 11.3pt 11.3pt 11.3pt 11.3pt;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 6pt;
    padding-left: 8.5pt;
    padding-right: 8.5pt;
    padding-top: 6pt
    }
.calibre5 {
    background-color: rgba(37, 164, 118, 0.5);
    border-radius: 14.2pt 14.2pt 14.2pt 14.2pt;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding-bottom: 6.6pt;
    padding-left: 9.4pt;
    padding-right: 9.4pt;
    padding-top: 6.6pt
    }
.calibre6 {
    display: block;
    line-height: 1.2
    }
.cat {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.125em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.cn-big-underline {
    color: rgb(37, 164, 118);
    font-size: 1.41667em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em
    }
.cn-big-underline-black {
    font-style: normal;
    font-weight: normal
    }
.cn-big-underline1 {
    color: rgb(37, 164, 118);
    font-size: 1.88889em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5em
    }
.cn-bold {
    font-style: normal;
    font-weight: bold
    }
.cn-bold-green {
    color: rgb(37, 164, 118);
    font-size: 1em;
    font-style: normal;
    font-weight: bold
    }
.copyright-title {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.en-bold-green {
    color: rgb(37, 164, 118);
    font-style: normal;
    font-weight: bold
    }
.en-bold-italic-black {
    font-style: italic;
    font-weight: bold
    }
.en-italic {
    color: rgb(37, 164, 118);
    font-style: italic;
    font-weight: normal
    }
.en-italic-1488-0-override {
    -webkit-text-stroke: -webkit-text;
    color: rgb(37, 164, 118);
    font-size: 1em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.2;
    text-decoration: none
    }
.en-italic-big {
    color: rgb(37, 164, 118);
    font-size: 1.41667em;
    font-style: italic;
    font-weight: normal;
    line-height: 2.6em
    }
.en-italic-white {
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight: normal
    }
.footnote-link {
    font-size: 0.41667em;
    vertical-align: super
    }
.footnotes {
    display: block;
    margin-bottom: 6pt;
    margin-top: 6pt
    }
.generated-style {
    height: auto;
    width: auto
    }
.itext {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 2em
    }
.itext-green {
    color: rgb(37, 164, 118);
    font-size: 1em;
    font-style: normal;
    font-weight: normal
    }
.itext-green1 {
    color: rgb(37, 164, 118);
    font-size: 1.33333em;
    font-style: normal;
    font-weight: normal
    }
.itext-intable {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.7em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.itext-noindent {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.itext-pic {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.itext-right {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 2em;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: right;
    text-decoration: none;
    text-indent: 0
    }
.no-style-override {
    -webkit-text-stroke: -webkit-text;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    text-decoration: none
    }
.preface-title {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 2.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: center;
    text-decoration: none;
    text-indent: 0
    }
.quotation {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 2em
    }
.quotation-green {
    color: rgb(37, 164, 118);
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal
    }
.quotation-green-1529-0-override {
    -webkit-text-stroke: -webkit-text;
    color: rgb(37, 164, 118);
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    text-decoration: none
    }
.quotation-noindent {
    -webkit-text-stroke: -webkit-text;
    color: rgb(37, 164, 118);
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.3em;
    margin-left: 1.6em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.quotation-noindent-big {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 1em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.quotation-noindent-black {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.6em;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.quotation-pic-left {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-align-last: left;
    text-decoration: none;
    text-indent: 0
    }
.quotation-pic-right {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.6em;
    text-align: justify;
    text-align-last: right;
    text-decoration: none;
    text-indent: 2em
    }
.quotation-right {
    -webkit-text-stroke: -webkit-text;
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.6em;
    text-align: right;
    text-decoration: none;
    text-indent: 2em
    }
.title3-green {
    -webkit-text-stroke: -webkit-text;
    color: rgb(37, 164, 118);
    display: block;
    font-size: 1.41667em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 2.8em;
    margin-bottom: 1.5em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.5em;
    text-align: left;
    text-decoration: none;
    text-indent: 0
    }
.white {
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal
    }
.x-109-0-override {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

